.marker-font {
    font-family: 'Permanent Marker';
}

.nova-font {
    font-family: 'Nova Flat';
}

#index-header {
    color: #D48C63;
    text-align: center;
    font-size: 120px;
}

.text-color {
    color: #D48C63;
}

.centered {
    text-align: center;
}