.marker-font {
    font-family: 'Permanent Marker';
}

.nova-font {
    font-family: 'Nova Flat';
}

.righteous-font {
    font-family: 'Righteous';
}

.text-color {
    color: #D48C63;
}

.centered {
    text-align: center;
}

#index-header {
    color: #D48C63;
    text-align: center;
    font-size: 120px;
    display: block;
    animation: moveDown 1s ease-in;
}

#index-body {
    margin-top: 6rem;
}

#index-subheader {
    font-size: 60px;
    text-align: center;
    color: #D48C63;
    font-family: 'Nova Flat';
    display: block;
    animation: moveInRight 1.5s ease-in;
}

#index-subtitle {
    font-size: 30px;
    text-align: center;
    color: #D48C63;
    font-family: 'Nova Flat';
    display: block;
    animation: moveInLeft 2s ease-in;
}

.drop-down1 {
    display: block;
    animation: moveInRight 1.5s ease-in;
}

.drop-down2 {
    display: block;
    animation: moveInLeft 2s ease-in
}

@keyframes moveDown {
    0% {
        opacity: 0;
        transform: translateY(-200px)
    }
  
    100% {
        opacity: 1;
        transform: translate(0);
    }
  }

  @keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(-500px)
    }

    50% {
        opacity: 0;
        transform: translateX(-250px)
    }
  
    100% {
        opacity: 1;
        transform: translate(0);
    }
  }

  @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateY(500px);
    }

    50% {
        opacity: 0;
        transform: translateX(250px)
    }
  
    100% {
        opacity: 1;
        transform: translate(0);
    }
  }

#about-header {
    color: #D48C63;
    font-size: 90px;
    animation: moveDown 1s ease-in;
}

#about-body {
    margin: 0px 9px;
}

#about-container {
    margin: 0 10rem;
    display: flex;
    flex-direction: row;
}

.about-container-element {
    flex-grow: 1;
    margin-right: 20px;
}

#about-profile-image {
    animation: picInRight 1s ease-out;
}

#about-paragraph {
    padding-right: 5rem;
    animation: pgInLeft 1s ease-out;
}

@keyframes picInRight {
    0% {
        opacity: 0;
        transform: translateX(-500px)
    }
  
    100% {
        opacity: 1;
        transform: translate(0);
    }
  }

  @keyframes pgInLeft {
    0% {
        opacity: 0;
        transform: translateX(400px)
    }
  
    100% {
        opacity: 1;
        transform: translate(0);
    }
  }

#technical-skills {
    display: flex;
    flex-direction: row;
    animation: moveUp 1s ease-out;
}

@keyframes moveUp {
    0% {
        opacity: 0;
        transform: translateY(500px)
    }
  
    100% {
        opacity: 1;
        transform: translate(0);
    }
}

#tech-skills-header {
    font-size: 50px;
    animation: moveUp 1s ease-out;
}

.icon {
    height: 96px;
    width: 96px;
    color: #D48C63;
}

.tech-skill {
    border: 3px solid #D48C63;
    flex-grow: 1;
    text-align: center;
    margin: 0 5px;
    padding: 10px 0;
}

.tech-skill p {
    color: #D48C63;
    font-family: "Righteous";
}

#contact-header {
    color: #D48C63;
    font-size: 90px;
    text-align: center;
    animation: moveDown 1s ease-in;
}

#contact-subheader {
    color: #D48C63;
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: -5px;
}

#contact-body {
    display: flex;
    flex-direction: column;
}

.contact-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.contact-list a {
    text-decoration: none;
}

.contact-item {
    display: flex;
    flex-direction: row;
    margin: 20px 20px;
}

.contact-item p {
    font-family: 'Nova Flat';
    color: #D48C63;
    font-size: 40px;
    padding-top: 35px;
    margin-left: 10px;
}

#project-header {
    color: #D48C63;
    font-size: 90px;
    text-align: center;
    animation: moveDown 1s ease-in;
}

#project-body {
    display: flex;
    flex-direction: column;
}